<form action="/result">
  <div class="form-group">
    <label for="input_1">Enter your first word:</label>
    <input type="text" name="input_1">
    <br>
    <label for="input_2">Enter your comparision word:</label>
    <input type="text" name="input_2">
  </div>
  <button id="submit_button" type="submit" class="btn btn-danger">Check</button>
</form>
