
<!DOCTYPE html>
<html>
  <head>
    <title>Anas, Antis, and Pals</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' type="text/css" href="/css/styles.css">
  </head>
  <body>
    <div class="container">
      <h1>anagrams, antigrams, and palindromes, oh my! </h1>
      <%= yield %>
    </div>
  </body>
</html>
